.width-50 {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.type {
    display: inline-block;
    background: #3d7db3;
    padding: 0 10px;
    border-radius: 20px;
    color: #fff;
}

.font-s {
    font-size: 13px;
    margin-bottom: 0;
}

.font-wt {
    font-weight: 700;
}

.cursor-pointer {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    background: #ddd;
    padding: 10px 10px;
    display: inline-flex;
    align-items: center;
  }